
/* ----- APP -- APP.CSS ----- */

:root {
  --app-color-background: #ffffff;
  --app-color-background-second: #ffffff;
  --app-color-background-ii: #ffffff;
  --app-color-background-transparent: rgb(0 0 0 / 0.1);
  --app-color-letter: #000000;
  --app-color-letter-second: #ffffff;
  --app-color-letter-ii: #ffffff;
  --app-color-item: #f7f7f7;
  --app-color-item-second: #000000;
  --app-color-item-ii: #000000;
  --app-color-item-third: #f7f7f7;
  --app-color-item-iii: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--app-color-background);
  user-select: none;
  overscroll-behavior: contain;
}

svg {
  width: 15px;
  height: 15px;
  fill: var(--app-color-letter);
}

button {
  background: none;
  outline: none;
  border: none;

  color: inherit;
}

input {
  color: inherit;
}

#app {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;

  display: flex;
}

.routes {
  flex: 1;

  overflow: hidden;
  position: relative;
}

.offline {
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  color: var(--app-color-letter);

  & svg {
    width: 100px;
    height: 100px;
  }
}

.app-form-label-checkbox {
  display: flex;
  align-items: center;
  pointer-events: none;

  & label {
    all: unset;
    display: flex;
    padding: 10px 20px;
    border-radius: 20px;

    cursor: pointer;
    pointer-events: initial;

    color: var(--app-color-letter);

    &:has(input:checked) {
      background: var(--app-color-letter);
      color: var(--app-color-item);
    }
  }

  & input {
    display: none;
  }

  & span {
    font-size: 13px;
    white-space: nowrap;
  }
}

.app-form-label-radio {
  display: flex;
  align-items: center;
  pointer-events: none;

  & label {
    all: unset;
    display: flex;
    padding: 10px 20px;
    border-radius: 20px;

    cursor: pointer;
    pointer-events: initial;

    color: var(--app-color-letter);

    &:has(input:checked) {
      background: var(--app-color-letter);
      color: var(--app-color-item);
    }
  }

  & input {
    display: none;
  }

  & span {
    font-size: 13px;
    white-space: nowrap;
  }
}

/* ----- APP -- CLASS.CSS ----- */

/* start - pointer */
.pointer-off {
  pointer-events: none;
}

.pointer-on {
  pointer-events: initial;
}

/* start - overflow */
.scroll-h {
  overflow: hidden;
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
}

/* start - display */

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

/* start - padding */
.p-5px {
  padding: 5px;
}
.p-10px {
  padding: 10px;
}
.p-15px {
  padding: 15px;
}
.p-20px {
  padding: 20px;
}

/* start - gap */
.gap-5px {
  gap: 5px;
}
.gap-10px {
  gap: 10px;
}
.gap-15px {
  gap: 15px;
}
.gap-20px {
  gap: 20px;
}

/* start - margin */
.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}
/* start - other */

.wh-40px {
  width: 40px;
  height: 40px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-col-full {
  grid-column: 1 / -1;
}

/* ----- APP -- DEFAULT.CSS ----- */

.button_l1wVjFZ {
  background: #a3bac3;
  color: #ffffff;

  border: none;
  outline: none;

  width: 40px;
  height: 40px;

  /* border-radius: 15px; */

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

.div_73RJBuZ {
  margin: auto;
  margin-top: initial;

  width: min(100%, 750px);

  display: grid;
  gap: 7.5px;

  overflow: hidden;
  border-radius: 15px;
}

.div_q97S60f {
  background: var(--app-color-item);
  color: var(--app-color-letter);

  height: 60px;
  padding: 10px;
  gap: 10px;

  display: flex;
  align-items: center;

  text-align: center;
  text-decoration: none;

  border-radius: 15px;

  padding-left: 20px;

  &:has(img) {
    padding-left: 10px;
  }

  & img {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    object-fit: cover;
  }

  & svg {
    margin: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.div_RbqUyx3 {
  display: grid;
  text-align: left;

  flex-grow: 1;

  & span {
    font-size: 15px;
    font-weight: bold;
  }

  & p {
    font-size: 13px;
  }
}

.div_FG8f1fQ {
  position: inherit;
  inset: inherit;
}

.div_b14S3dH {
  margin: auto;

  display: grid;
  justify-items: center;
  text-align: center;

  padding: 20px;
  gap: 20px;

  & svg {
    width: 100px;
    height: 100px;
    fill: var(--app-color-letter);
  }
}

/* ----- APP -- INPUTS.CSS ----- */

.label_ieXcceLhkyD2WGY {
  --background: var(--app-color-background);
  --color: var(--app-color-letter);
  position: relative;
  display: flex;
  background: var(--background);
  color: var(--color);

  width: 100%;
  height: 60px;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.1s linear;

  & input {
    background: none;
    outline: none;
    border: none;

    position: absolute;
    inset: 0;

    padding: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;

    transition: inherit;

    &:focus + span,
    &:not(:placeholder-shown) + span {
      padding-bottom: 20px;
      font-size: 13px;
    }
  }

  & span {
    width: 100%;
    height: 20px;
    padding: 0 20px;
    font-size: 15px;

    display: flex;
    align-items: center;

    transition: inherit;
  }
}

.label_RLkFTU2uXJoKahS {
  --background: var(--app-color-background);
  --color: var(--app-color-letter);

  position: relative;
  display: flex;
  background: var(--background);
  color: var(--color);
  width: 100%;
  height: 60px;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.1s linear;

  cursor: pointer;

  & input {
    background: none;
    outline: none;
    border: none;

    position: absolute;
    inset: 0;

    padding: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;

    transition: inherit;

    cursor: inherit;

    &:focus + span,
    &:not(:placeholder-shown) + span {
      padding-bottom: 20px;
      font-size: 13px;
    }
  }

  & span {
    &:first-of-type {
      width: 100%;
      height: 20px;
      padding: 0 20px;
      font-size: 15px;
      display: flex;
      align-items: center;

      transition: inherit;
    }

    &:last-of-type {
      width: 60px;
      height: 60px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & svg {
    width: 15px;
    height: 15px;
  }
}

/* ----- APP -- LAYOUT.CSS ----- */

.label_zjZIMnZ {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(255 255 255 / 0.1);
  border-radius: 40px;

  cursor: pointer;

  &:has(input:checked) svg {
    fill: rgb(0, 255, 0, 0.5);
  }

  & input {
    display: none;
  }
}

/* ----- APP -- LOADER.CSS ----- */

.loader-i {
  --pixel: 45px;
  --color: #000000;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-i::before {
  content: "";
  width: var(--pixel);
  height: var(--pixel);
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: loader-i 1s linear infinite;
}

@keyframes loader-i {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----- APP -- PAGES.CSS ----- */

.div_Xu02Xjh {
  background: var(--app-color-background);
  color: var(--app-color-letter);

  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;

  /* transition: width 0.3s ease;
  background: green; */
}

.header_K0hs3I0 {
  position: relative;

  width: 100%;
  height: 60px;

  padding: 10px;
  gap: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div_2Knxv43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  background: var(--app-color-background);
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 10px;
  gap: 10px;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & input {
    background: var(--app-color-item);
    border: none;
    outline: none;
    padding: 0 20px;
    color: inherit;
    height: 40px;

    border-radius: 15px;
  }
}

.div_uNg74XS {
  display: flex;
  align-items: center;
  gap: 10px;

  overflow: hidden;

  & h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.div_x0cH0Hq {
  display: flex;
  gap: 5px;
}

.button_lvV6qZu {
  background: var(--app-color-item);
  color: var(--app-color-letter);

  min-width: 40px;
  height: 40px;

  border: none;
  outline: none;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  font-size: 15px;
}

.div_guZ6yID {
  flex: 1;
  overflow-y: auto;

  display: flex;
  scrollbar-width: thin;
  scrollbar-color: var(--app-color-letter) var(--app-color-background);
}

.div_b14S3dH {
  margin: auto;

  display: grid;
  justify-items: center;
  text-align: center;

  padding: 20px;
  gap: 20px;

  & svg {
    width: 100px;
    height: 100px;
  }
}

.div_uzuovb5 {
  position: fixed;
  inset: 0;

  z-index: 999;
  display: flex;

  /* background: rgb(0 0 0 / 0.5); */
  backdrop-filter: blur(15px);
}

.div_x8birmo {
  margin: auto;

  display: grid;
  justify-items: center;
  text-align: center;

  width: 100%;
  padding: 15px;
  gap: 15px;
}

/* div_guZ6yID */

/* ----- APP -- POPOVER.CSS ----- */

.div_5Pe946IMjyL1Rs {
  background: none;
  width: 100%;
  height: 100%;
  border: none;
}

.div_dsb3nhtCrFmUlSN {
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;

  display: flex;
  pointer-events: none;
}

/* ----- APP -- TRANSITION.CSS ----- */

.transition-rotate {
  --rotate: 180deg;
  transition: transform 0.3s ease;
  transform: rotate(0deg);

  &.active {
    transform: rotate(var(--rotate));
  }
}

/* ----- ASSETS -- FOOTERVIDEOPLAYER.CSS ----- */

.footer_rTzBt2c {
  position: relative;
  width: 100%;
  height: 0;
  display: grid;

  z-index: 100;
}

.div_wPiZgS6 {
  position: fixed;

  bottom: 20px;
  right: 20px;

  width: min(100%, 300px);
  background: rgb(181 178 178/ 0.2);
  backdrop-filter: blur(5px);

  display: grid;
  border-radius: 15px;
  overflow: hidden;

  pointer-events: initial;

  & canvas {
    object-fit: contain;
    width: 100%;

    cursor: pointer;
  }
}

.div_lq8dhAa {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & button {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  & svg {
    fill: #fff;
  }
}

.div_rFbZYz7 {
  position: fixed;
  top: 100%;
}

.div_OZ6oAgh {
  width: 100%;
  height: 1.5px;
  display: grid;

  & span {
    background: #ffffff;
    width: 0;
  }
}

.div_MJ5Ba2C {
  position: fixed;
  inset: 0;

  z-index: 9999;
}

/* ----- ASSETS -- NAVIGATE.CSS ----- */

.div_kpAeq7EQQSpIEGP {
  width: 60px;
  height: 100%;
  display: none;

  & button {
    background: none;
    border: none;
    outline: none;
  }
}

.div_AzB9StLbTItJbDG {
  margin: auto;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.div_oMejC4uoPU6Yno {
  background: var(--app-color-letter);
  width: 40px;

  margin: 10px;
  border-radius: 40px;

  display: grid;

  background: var(--app-color-item);
}

.button_HBGW4tQbCUaCeQi {
  position: relative;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  overflow: hidden;

  font-size: 15px;
  font-weight: bolder;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.button_9hVeDz4jIfQ5n2a {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    width: 15px;
    height: 15px;
    fill: var(--app-color-letter);
  }
}

.div_JJ29L3eoT4hcf1x {
  flex: 1;

  overflow: auto;
  scrollbar-width: none;
}

.div_ynsbf8jCYmc6NsK {
  width: 100%;
  padding: 10px;
  gap: 10px;

  display: grid;
}

.button_vz3gd83JzdjM7pt {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  &.active {
    background: var(--app-color-letter);
    & svg {
      fill: var(--app-color-item);
    }
  }

  & svg {
    width: 15px;
    height: 15px;
    fill: var(--app-color-letter);
  }

  & img {
    width: 15px;
    height: 15px;
  }
}

.hr_GN4g3jScFGLhbB8 {
  margin: auto;
  background: rgb(181 178 178 / 0.3);
  width: 40px;
  height: 1px;
  border: none;
  border-radius: 1px;
}

.div_Hc2LDqQ {
  position: absolute;
  inset: 0;

  background: var(--app-color-item-second);
  color: var(--app-color-letter-second);

  font-weight: bolder;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 750px) {
  .div_kpAeq7EQQSpIEGP {
    display: flex;
  }
}

/* ----- ASSETS -- NAVIGATEBOTTOM.CSS ----- */

.div_U1rCCk1 {
  width: 100%;
  height: 60px;
  display: flex;
  overflow: hidden;
}

.div_ZnL3gfK {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & a,
  button {
    background: none;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    overflow: hidden;

    &.active {
      background: var(--app-color-letter);
      border-radius: 15px;

      & svg {
        fill: var(--app-color-item);
      }
    }

    &.a_1OKAZpH {
      position: relative;

      background: var(--app-color-item-second);
      color: var(--app-color-letter-second);

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;

      font-size: 15px;
      font-weight: bolder;
    }
  }
}

.img_bAVjzSy {
  width: 20px;
  height: 20px;
}

.img_lyvLR4C {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 750px) {
  .div_U1rCCk1 {
    display: none;
  }
}

/* ----- COMPONENTS -- MODALITEM.CSS ----- */

.div_TbLyNY3 {
  position: fixed;
  inset: 0;

  background: #1c1c1e;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header_YcmjSm8 {
  width: 100%;
  height: 60px;

  padding: 10px;

  & button {
    width: 40px;
    height: 40px;

    background: #2c2c2e;
    border: none;
    outline: none;

    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      fill: #f7f7f7;
    }
  }
}

.div_VFLLCee {
  flex: 1;
  position: relative;

  color: #f7f7f7;

  display: flex;

  padding: 10px;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color:  #f7f7f7 #1C1C1E;
}

.div_SAkweTq {
  margin: auto;
  margin-top: initial;
  width: min(100%, 1000px);
  background: var(--color-item);
  border-radius: 15px;
  overflow: hidden;
}

.div_8ID1sda {
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  background: #000000;

  aspect-ratio: 16/9;

  & video {
    position: absolute;
    width: 100%;
    height: 100%;

    &.hide {
      display: none;
    }
  }

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  & button {
    background: rgb(0 0 0 / 0.3);
    position: absolute;

    border: none;
    outline: none;

    width: 80px;
    height: 80px;

    border-radius: 50%;

    &:hover {
      opacity: 0.7;
    }
  }

  & svg {
    fill: #f7f7f7;
    width: 30px;
    height: 30px;
  }
}

.div_pBRCT0z {
  display: flex;
  padding: 10px;

  & p {
    flex: 1;

    display: flex;
    align-items: center;
  }
}

/* ----- COMPONENTS -- QUALITIES.CSS ----- */

.div_P0hgVOs {
  position: fixed;
  inset: 0;

  background: var(--app-colorbackground-transparent);
  backdrop-filter: blur(5px);
  display: flex;

  background: green;
}

.div_Uf1hKbf {
  position: inherit;
  inset: inherit;
}

.div_cXaADrL {
  position: relative;

  margin: auto;
  margin-bottom: initial;

  background: var(--app-coloritem);
  color: var(--app-colorletter);

  width: min(100%, 450px);
  max-height: 60%;

  /* border-radius: 15px 15px 0 0; */
  border-radius: 15px;
  overflow: hidden;

  display: flex;
}

.div_lm2WViG {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  gap: 10px;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #fff transparent;

  color: #fff;
}

.button_NuUj5A6 {
  background: rgb(255 255 255 / 0.1);
  /* background: pink; */
  display: flex;
  align-items: center;

  color: inherit;
  padding: 10px;
  padding-right: 20px;
  gap: 10px;
  height: 60px;
  border-radius: 15px;
}

.span_eNUkEzu {
  background: rgb(255 255 255 / 0.1);

  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10px;
  font-weight: bold;

  grid-column: 1 / -1;
}

.div_Z8bTLpN {
  flex: 1;
  margin: auto;

  display: grid;
  text-align: left;

  & span {
    font-size: 15px;
    font-weight: bold;
  }

  & p {
    font-size: 13px;
  }
}

/* ----- COMPONENTS -- VIDEOPLAYER.CSS ----- */

.div_rjNITPL {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(15px);
  z-index: 999;
}

.div_72d7CZb {
  position: inherit;
  inset: inherit;
}

.div_DFHkIAJ {
  margin: auto;
  position: relative;
  background: #000000;
  width: min(100%, 1000px);
  max-height: 100%;
  aspect-ratio: 16/9;

  color: #ffffff;

  & svg {
    fill: #ffffff;
  }
}

.div_9sbPnGY {
  width: 100%;
  height: 100%;
  overflow: hidden;

  & video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.div_BzD7xoP {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div_30iEfg1 {
  width: 100%;
  height: 60px;

  display: flex;
  overflow: hidden;
  position: relative;
  background: rgb(0 0 0 / 0.3);
}

.div_fqntqCw {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  gap: 10px;

  & button {
    background: rgb(0 0 0 / 0.3);
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    position: relative;
  }

  & svg {
    fill: #ffffff;
    width: 20px;
    height: 20px;
  }
}

.div_KYTTm4X {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex: 1;

  overflow: hidden;

  & img {
    height: 40px;
    width: 40px;
    object-fit: cover;
  }
}

.div_swkEBnn {
  flex: 1;
  margin: auto;
  overflow: hidden;
  display: grid;

  color: #ffffff;

  & p {
    font-size: 15px;
    font-weight: bold;
  }

  & span {
    font-size: 13px;
  }
}

.div_quGYBx1 {
  position: relative;
  flex: 1;
  display: grid;
  margin: auto;
  padding-left: 20px;
  gap: 3px;

  & span {
    font-size: 14px;
  }
}
.button_wBp8eB3 {
  margin: 10px;
  width: 40px;
  height: 40px;

  position: relative;
}

.div_iVl4urA {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(255 255 255 / 0.3);
  height: 3px;
  border-radius: 3px;

  & input {
    position: relative;
    width: 100%;
    opacity: 0;
  }

  & hr {
    position: absolute;
    left: 0;
    background: #ffffff;
    width: 0;
    height: 100%;
    border: none;
    border-radius: inherit;
  }
}

.div_t9t7NA0 {
  position: absolute;
  inset: 0;
}

.div_tmIkQJS {
  position: absolute;
  inset: 0;

  background: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(5px);
  display: flex;
}

.div_FAYchuQ {
  position: inherit;
  inset: inherit;
}

.div_0wgv7xm {
  margin-left: auto;
  position: relative;
  width: 60px;
  height: 100%;

  overflow-y: auto;
  scrollbar-width: none;
}

.div_5lgw0Me {
  margin-bottom: auto;
  display: grid;
  padding: 10px;
  gap: 10px;

  & button {
    width: 40px;
    height: 40px;
  }
}

/* ----- PAGE -- ANIME.CSS ----- */

.div_QMnON7f {
  margin: auto;
  margin-top: initial;

  width: min(100%, 1000px);
  display: grid;
  gap: 10px;
}

.div_pJyDdxi {
  display: flex;
  align-items: start;

  flex-wrap: wrap;

  gap: 10px;
}

.div_abYDxbm {
  width: 250px;
  display: flex;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.div_QeWCJmo {
  flex: 1;
  flex-basis: 400px;
  display: grid;
  gap: 10px;

  & h2 {
    font-size: 25px;
  }

  & p {
    font-size: 15px;
  }
}

.div_692wB8 {
  margin: 0 auto;
  width: min(100%, 1000px);
  background: none;
}

.div_bi3qmqX {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 10px;
}

.button_fk0VHgU {
  all: unset;
  box-sizing: border-box;

  flex: 1;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  height: 40px;

  & span {
    font-weight: bold;
  }
}

.div_eGwK6I1 {
  display: flex;
  padding: 15px 10px;
  gap: 10px;

  border-bottom: 1px solid rgb(181 178 178 / 0.2);
}

/* ----- PAGE -- INICIO.CSS ----- */

.div_6X7uHLA {
  position: relative;
  display: flex;

  height: 100%;

  border-radius: 15px;
  overflow: hidden;

  text-decoration: none;

  &.mode-1 {
    aspect-ratio: 16/9;
  }

  &.mode-2 {
    aspect-ratio: 9/16;
  }

  &:hover {
    opacity: 0.7;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.div_y43VZf2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.div_AlEPLQv {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  padding: 10px;

  color: #ffffff;

  & p {
    word-break: break-word;
    font-size: 15px;
    font-weight: bold;
  }

  & span {
    font-size: 13px;
  }
}

.div_Ph0Tbeb {
  margin: auto;
  margin-top: initial;
  width: min(100%, 750px);
  display: grid;
  gap: 10px;
}

.div_4Pov3Cz {
  background: var(--app-color-item);
  display: grid;

  border-radius: 15px;
}

.a_lW7dgpk {
  background: var(--app-color-item);
  /* background: rgb(255 255 255 / 0.1); */
  /* background: #1A1A1A; */

  color: inherit;

  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;

  height: 60px;
  padding: 10px;
  gap: 10px;

  text-decoration: none;
  border-radius: 15px;

  &.not-svg svg:first-of-type {
    visibility: hidden;
  }

  & svg {
    margin: auto;
  }
}

.div_klylpyg {
  background: var(--app-color-item);
  position: relative;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 15px;

  & small {
    display: flex;
  }

  & select {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

/* ----- PAGE -- LOGIN.CSS ----- */

.div_7wOjGZ8 {
  background: var(--app-color-background);
  position: fixed;
  inset: 0;

  display: flex;
  padding: 20px;
}

.div_SCqCUTo {
  margin: auto;
  display: grid;
  gap: 15px;

  width: min(100%, 400px);

  border-radius: 15px;

  color: var(--app-color-letter);
}

.div_Y85zRC0 {
  display: grid;
  gap: 5px;
}

.label_L3539wR {
  position: relative;
  background: var(--app-color-item);
  color: var(--app-color-letter);

  display: grid;

  height: 60px;
  border-radius: 15px;
  overflow: hidden;

  & span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 13px;
  }

  & input {
    position: relative;
    background: none;
    border: none;
    outline: none;

    color: inherit;
    padding: 0 20px;
    padding-top: 16px;
    font-size: 15px;
    font-weight: bold;
  }
}

.a_c305F1l {
  margin-right: auto;
  color: inherit;
  font-size: 15px;
  padding: 0 20px;
}

.button_WU25psx {
  background: var(--app-color-letter);
  color: var(--app-color-item);

  font-size: 15px;

  border: none;
  outline: none;

  height: 60px;
  padding: 0 20px;

  border-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 15px;
  font-weight: bold;

  & svg {
    fill: var(--app-color-item);
  }
}

.a_8hzaMUg {
  margin-left: auto;
  background: none;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;

  border-radius: 15px;

  font-size: 15px;
  color: inherit;
  text-decoration: none;
}

.div_TwxBw4R {
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  padding: 15px;
  gap: 15px;

  width: min(100%, 400px);

  /* background: var(--app-color-item); */
  color: var(--app-color-letter);

  /* aspect-ratio: 1 / 1; */
}

.div_70M5Jpt {
  flex: 1;
  color: var(--app-color-letter);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.label_0BFeKpk {
  background: var(--app-color-item);
}

/* ----- PAGE -- PELICULA.CSS ----- */

.div_EafBfGo {
  margin-bottom: auto;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr));
  gap: 10px;
}

.a_EDlqqHv {
  position: relative;
  overflow: hidden;

  border-radius: 15px;

  &:hover {
    opacity: 0.7;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.div_eraMuOi {
  overflow: hidden;
  aspect-ratio: 3/4;

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.div_rY3qoDB {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  padding: 10px;

  color: #ffffff;

  & p {
    word-break: break-word;
    font-size: 15px;
    font-weight: bold;
  }

  & span {
    font-size: 13px;
  }
}

.div_wNo9gA9 {
  margin: 0 auto;
  width: min(100%, 1000px);

  flex: 1;
  flex-basis: 400px;
  display: grid;
  gap: 10px;
  padding: 10px;
}

/* ----- PAGE -- PELICULA2.CSS ----- */

.div_mrXVL9t {
  background: #000000;
  --app-color-letter: #ffffff;
  --app-color-item: #000000;
}

.header_RtX3J1X {
  & button,
  & a {
    background: rgba(255 255 255 / 0.1);
  }

  & svg {
    fill: #ffffff;
  }
}

.div_DtSQApy {
  position: relative;
  /* border-radius: 15px 15px 0 0; */
  /* background: #000000; */

  scrollbar-width: none;
}

.div_hqzh2NV {
  margin: auto;
  margin-top: initial;
  width: min(100%, 750px);
}

.div_rCXoNm8 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.div_vm3LkIt {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  display: none;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #000000;
    filter: blur(50px);
    /* display: none; */
  }
}

.div_y6ODhoe {
  position: relative;
  color: #ffffff;

  width: min(100%, 750px);

  display: grid;
  padding: 10px;
  gap: 10px;
}

.div_aSwP0zW {
  display: grid;
  font-size: 13px;
}

.picture_BLSEWfU {
  display: grid;

  aspect-ratio: 256/384;
  height: 225px;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #000000;
    object-fit: cover;
  }
}

.div_K2RbOsL {
  display: grid;
  gap: 10px;
  & p {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

@media (min-width: 750px) {
  .div_y6ODhoe {
    display: flex;
  }
}

/* ----- PAGE -- PELICULAOTHER.CSS ----- */

.div_cnJqhFl {
  margin: 0 auto;
  width: min(100%, 1000px);

  display: grid;
  padding: 15px 0;
  /* padding: 20px; */
  gap: 15px;

  /* background: purple; */
}

.div_0JOSFlg {
  margin: auto;
  aspect-ratio: 256/384;
  width: 200px;

  display: flex;

  border-radius: 15px;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.div_cxFXOaL {
  margin: auto;
  display: flex;
  gap: 10px;
}

.button_bDfhQ4b {
  background: rgb(255 255 255 / 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  padding-right: 15px;
  border-radius: 40px;

  & small {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hr_nTfcjTI {
  background: rgb(255 255 255 / 0.5);
  border: none;

  width: 100%;
  height: 1px;
}

.div_mu7pmfs {
  padding: 10px;
  display: flex;
}

.div_xesi90n {
  background: rgb(255 255 255 / 0.1);
  height: 40px;

  display: flex;
  border-radius: 5px;

  & select {
    background: none;
    border: none;
    outline: none;

    padding-left: 10px;
    color: #fff;
  }

  & option {
    background: #1a1a1a;
  }

  & button {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ----- PAGE -- PELICULA_SERIE.CSS ----- */

.div_eRsphYD {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;

  color: var(--app-color-letter);
}

.div_IsTCHpN {
  flex: 1;
  display: flex;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--app-color-letter) var(--app-color-background);
}

.div_qsNmfP3 {
  margin: auto;
  margin-top: initial;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 100px), 1fr));

  width: 100%;
  padding: 10px;
  gap: 10px;
}

.div_SQpqup7 {
  display: grid;
  overflow: hidden;

  color: inherit;

  cursor: pointer;
  text-decoration: none;

  position: relative;

  &:hover {
    opacity: 0.7;
  }
}

.div_fMC1uk6 {
  aspect-ratio: 2/3;

  position: relative;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  & span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;

    background: rgb(0 0 0 / 0.5);
    color: #ffffff;

    padding: 5px 10px;
    border-radius: 15px;
  }
}

.div_9nWIRZE {
  padding: 10px 0;
  width: 100%;
  color: var(--app-color-letter);

  & p {
    word-break: break-word;
    font-size: 13px;
    text-align: center;
  }
}

.div_Qm4cPUn {
  display: flex;
  grid-column: 1 / -1;
  padding: 20px;
  transform: translateY(-300px);

  pointer-events: none;

  & div {
    transform: translateY(300px);
  }
}

.div_BIchAsC {
  display: flex;
  padding: 10px;

  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--app-color-letter) transparent;
}

.div_O73RBqH {
  display: flex;
  & button {
    padding: 10px 20px;
    border-radius: 20px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    color: var(--app-color-letter);

    &.focus {
      background: var(--app-color-letter);
      color: var(--app-color-item);
    }
  }
}

@media (min-width: 750px) {
  .div_qsNmfP3 {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr));

    & p {
      font-size: 15px;
    }
  }
}

/* ----- PAGE -- SEARCHTYPE.CSS ----- */

.header_LOF628f {
  width: 100%;
  height: 60px;

  padding: 10px;
  display: flex;
}

.div_C2otGmQ {
  margin: auto;
  margin-top: initial;

  width: min(100%, 750px);
  display: grid;
}

.div_ywmleK1 {
  display: flex;
  border-top: 1px solid rgb(181 178 178 / 0.3);
  color: var(--app-color-letter);

  &:first-child {
    border-top: none;
  }
}

.button_YqF7ZuC {
  width: 40px;
  height: 40px;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.a_UrjAwYX {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;

  text-decoration: none;
  color: inherit;

  & svg {
    margin: auto;
  }
}

.div_9OWid2W {
  margin: auto 0;
  flex: 1;
  display: grid;

  & p {
    font-size: 15px;
    font-weight: bold;
  }

  & span {
    font-size: 13px;
  }
}

.div_sZZicpN {
  flex: 1;
  display: grid;

  & h3 {
    font-size: 20px;
  }

  & span {
    font-size: 13px;
  }
}

.div_McPrYGP {
  width: 100%;
}

.form_r7mvBNn {
  flex: 1;

  display: flex;
  overflow: hidden;
  background: var(--app-color-item);
  border-radius: 40px;
  padding-right: 5px;

  & a,
  & button {
    min-width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & input {
    flex: 1;
    background: none;
    color: inherit;

    border: none;
    outline: none;

    overflow: hidden;
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding-left: 20px;

    /* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
    &[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }

    /* Para Firefox */
    &[type="search"]::-moz-search-cancel-button {
      display: none;
    }

    /* Para Internet Explorer y Edge Legacy */
    &[type="search"]::-ms-clear {
      display: none;
    }
  }
}

.a_t8K3Qpd {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a_33g9UEa {
  all: unset;
  box-sizing: border-box;

  flex: 1;
  display: flex;
  align-items: center;

  gap: 10px;
  cursor: pointer;
}

.small_rppYggX {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--app-color-item);
  border-radius: 15px;
}

/* ----- PAGE -- SERIE.CSS ----- */

.div_4MNvoOW {
  width: 100%;
  min-height: 100%;
  /* margin: auto;
  margin-top: initial;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  width: min(100%, 1000px); */
}

.div_2cD7Iqb {
  width: 100%;
  display: grid;
  padding: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
}

.div_LKjl9J4 {
  position: relative;
  display: grid;
  gap: 10px;

  cursor: pointer;

  overflow: hidden;
}

.div_nmcQ0GU {
  aspect-ratio: 256/144;
  position: relative;

  display: flex;

  overflow: hidden;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;

    background: rgb(0 0 0 / 0.5);
    color: #ffffff;

    padding: 5px 10px;
    border-radius: 15px;
  }
}

.button_HMIA4Fe {
  display: none;
}

.div_WslendP {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 10px;

  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--app-color-letter) var(--app-color-background);
  width: 100%;

  background: #000000;
  z-index: 15;
}

.div_z0PiH0E {
  display: flex;
  & button {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 20px;

    color: var(--app-color-letter);

    &.focus {
      background: var(--app-color-letter);
      color: var(--app-color-item);
    }
  }

  & svg {
    fill: #000000;
    display: none;
  }

  & span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.div_rJOqfX3 {
  margin: 0 auto;
  width: min(100%, 1000px);

  flex: 1;
  flex-basis: 400px;
  display: grid;
  gap: 10px;
}

/* ----- PAGE -- SERIE2.CSS ----- */



/* ----- PAGE -- SETTING.CSS ----- */

.div_gVQO1KR {
  margin: auto;
  margin-top: initial;

  width: min(100%, 750px);

  display: grid;
  gap: 10px;

  justify-items: center;
}

.div_cq16fYP {
  margin: auto;
  display: grid;
  width: 100%;
  gap: 3px;

  border-radius: 15px;
  overflow: hidden;

  & a {
    all: unset;
    box-sizing: border-box;

    background: var(--app-color-item);
    display: flex;
    align-items: center;

    padding: 10px;
    padding-right: 20px;
    gap: 10px;

    cursor: pointer;
  }

  & span {
    font-size: 15px;
    flex: 1;
  }

  & small {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.div_zyykHbn {
  display: grid;
  text-align: center;
  width: 100%;
}

/* ----- PAGE -- THEME.CSS ----- */

.div_MN7ZWeX {
  background: var(--app-color-background);
  color: var(--app-color-letter);
}

.button_YWxwK2P {
  background: var(--app-color-item);
  & svg {
    fill: var(--app-color-letter);
  }
}

.div_cDfbXwR {
  margin: auto;
  margin-top: initial;
  width: min(100%, 750px);

  display: grid;
}

.div_0p76jdM {
  display: grid;
  border-bottom: 1.25px solid rgb(181 178 178 / 0.2);
}

.label_2F1ZTtw {
  width: 100%;
  height: 60px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:has(input:checked) + div {
    display: initial;
  }
}

.div_VDMeCmA {
  display: none;
  padding: 10px;
}

.div_QKKEgOu {
  background: var(--app-color-item);
  border-radius: 15px;
}

/* ----- PAGE -- YOUTUBE.CSS ----- */

.div_FtxwFbU {
  margin: auto;
  margin-top: initial;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));

  width: 100%;
  padding: 10px;
  gap: 10px;
}

.div_EJlRW2l {
  display: grid;
  overflow: hidden;

  color: inherit;

  cursor: pointer;
  text-decoration: none;

  position: relative;

  &:hover {
    opacity: 0.7;
  }
}

.div_zcWgA0o {
  aspect-ratio: 180/101;

  display: flex;
  overflow: hidden;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  & span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;

    background: rgb(0 0 0 / 0.5);
    color: #ffffff;

    padding: 5px 10px;
    border-radius: 15px;
  }
}

.div_4Be1MfB {
  margin: auto;
  margin-top: initial;
  width: min(100%, 1000px);

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.div_zcBBMyp {
  margin: auto;
  margin-top: initial;

  width: min(100%, 450px);
  overflow: hidden;

  background: var(--app-color-item);
  display: grid;

  border-radius: 15px;
}

.div_kBVlTef {
  display: grid;
}

.div_dbwnzu8 {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  transform: translateY(-30px);
  margin-bottom: -30px;

  & button {
    background: var(--app-color-letter);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & svg {
    fill: var(--app-color-item);
  }
}

.div_tGk9TC {
  display: grid;
  padding: 30px 10px;
  gap: 10px;
  text-align: center;

  & span {
    font-size: 20px;
    font-weight: bold;
  }

  & p {
    font-size: 13px;
  }
}

.div_9JKNFqj {
  flex: 1;
  flex-basis: 400px;
  margin-bottom: auto;
  display: grid;
  gap: 10px;
}

.div_SVQFocz {
  position: fixed;
  inset: 0;

  background: var(--app-color-background-transparent);
  backdrop-filter: blur(5px);

  display: flex;
  padding: 10px;
}

.div_wNzlhKc {
  position: fixed;
  inset: 0;
}

.div_fR5TzKc {
  position: relative;

  margin: auto;
  background: var(--app-color-item);
  color: var(--app-color-letter);

  width: min(100%, 400px);
  display: grid;
  padding: 10px;
  gap: 10px;

  border-radius: 15px;
}

.div_8IrlFEb {
  display: grid;
  gap: 10px;

  & select {
    background: var(--app-color-item);
    color: var(--app-color-letter);

    border: 1.25px solid var(--app-color-letter);
    outline: none;

    height: 60px;
    padding: 0 20px;

    border-radius: 15px;
  }
}

.button_UD5xzgy {
  background: var(--app-color-letter);
  color: var(--app-color-item);
  height: 60px;

  border-radius: 60px;
  font-size: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  & svg {
    fill: var(--app-color-item);
  }
}

.div_cTj4aRP {
  width: 100%;
  display: grid;
  gap: 20px;
}

.div_cv0TOQj {
  position: relative;

  width: 100%;
  aspect-ratio: 16/9;
  background: #000000;

  overflow: hidden;
  border-radius: 15px;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.div_tzdsifu {
  & span {
    font-size: 18px;
    font-weight: bold;
  }

  & p {
    font-size: 13px;
  }
}

.hr_QTLItLB {
  background: rgb(181 178 178 / 0.2);
  width: 100%;
  height: 1px;
  border: none;
}

.div_IPio5Py {
  display: grid;
  gap: 10px;
}

.a_uxKHwne {
  display: flex;
  gap: 10px;

  overflow: hidden;
  color: inherit;
  text-decoration: inherit;
}

.div_9MXHpQL {
  aspect-ratio: 16/9;
  height: 90px;

  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.div_yk5UUMR {
  flex: 1;
  overflow: hidden;
  margin: auto;

  & span {
    font-size: 12px;
  }

  & p {
    font-size: 14px;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}