
/* ----- APP -- APP.CSS ----- */

:root {
  --app-color-background: #f7f7f7;
  --app-color-background-second: #ffffff;
  --app-color-background-ii: #ffffff;
  --app-color-background-transparent: rgb(0 0 0 / 0.1);
  --app-color-letter: #000000;
  --app-color-letter-second: #ffffff;
  --app-color-letter-ii: #ffffff;
  --app-color-item: #ffffff;
  --app-color-item-second: #000000;
  --app-color-item-ii: #000000;
  --app-color-item-third: #f7f7f7;
  --app-color-item-iii: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--app-color-background);
  user-select: none;
  overscroll-behavior: contain;
}

svg {
  width: 15px;
  height: 15px;
  fill: var(--app-color-letter);
}

#app {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.container {
  flex: 1;
  display: flex;
}

.routes {
  flex: 1;

  overflow: hidden;
  position: relative;
}

.offline {
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  color: var(--app-color-letter);

  & svg {
    width: 100px;
    height: 100px;
  }
}

.app-button {
  all: unset;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-form-label-radio {
  display: flex;
  align-items: center;
  pointer-events: none;

  & label {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 17.5px;
    height: 35px;

    border-radius: 35px;

    cursor: pointer;
    pointer-events: initial;

    color: var(--app-color-letter);

    &:has(input:checked) {
      background: var(--app-color-letter);
      color: var(--app-color-item);
    }
  }

  & input {
    display: none;
  }

  & span {
    font-size: 13px;
    white-space: nowrap;
  }
}

.app-select-option {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  width: 100%;
  height: 100%;
}

.app-box-button {
  background: var(--app-color-item);
  border-radius: 15px;

  display: flex;
  align-items: center;

  & hr {
    background: rgb(181 178 178 / 0.3);
    border: none;

    width: 1px;
    height: 50%;
  }
}

/* ----- APP -- INPUTS.CSS ----- */

.label_ieXcceLhkyD2WGY {
  position: relative;
  display: flex;

  width: 100%;
  height: 60px;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.1s linear;

  & input {
    all: unset;
    box-sizing: border-box;

    position: absolute;
    inset: 0;

    padding: 0 15px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;

    transition: inherit;
    cursor: text;

    &.focus + span,
    &:focus + span,
    &:not(:placeholder-shown) + span {
      padding: 0 15px;
      padding-bottom: 20px;
      font-size: 13px;
    }
  }

  & span {
    width: 100%;
    height: 20px;
    padding: 0 20px;
    font-size: 15px;

    display: flex;
    align-items: center;

    transition: inherit;
  }
}

.label_RLkFTU2uXJoKahS {
  position: relative;
  display: flex;

  width: 100%;
  height: 60px;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.1s linear;

  cursor: pointer;

  & input {
    background: none;
    outline: none;
    border: none;

    position: absolute;
    inset: 0;

    padding: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;

    transition: inherit;

    cursor: inherit;

    &:focus + span,
    &:not(:placeholder-shown) + span {
      padding-bottom: 20px;
      font-size: 13px;
    }
  }

  & span {
    &:first-of-type {
      width: 100%;
      height: 20px;
      padding: 0 20px;
      font-size: 15px;
      display: flex;
      align-items: center;

      transition: inherit;
    }

    &:last-of-type {
      width: 60px;
      height: 60px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & svg {
    width: 15px;
    height: 15px;
  }
}

/* ----- APP -- LOADER.CSS ----- */

.loader-i {
  --pixel: 45px;
  --color: #000000;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-i::before {
  content: "";
  width: var(--pixel);
  height: var(--pixel);
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: loader-i 1s linear infinite;
}

@keyframes loader-i {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----- APP -- OPTION.CSS ----- */

.div_qNLM8GPMIK {
  background: none;
  border: none;

  width: 100%;
  height: 100%;
}

.div_XSkmJF69Wy {
  background: var(--app-color-background-transparent);
  backdrop-filter: blur(5px);

  position: relative;

  width: 100%;
  height: 100%;
  padding: 10px;

  display: flex;
  pointer-events: none;
}

.div_NAhL0gSj9J {
  margin: auto;
  margin-bottom: initial;
  overflow: hidden;

  position: relative;

  background: var(--app-color-background-second);
  color: var(--app-color-letter);

  width: 100%;
  max-height: 50%;

  border-radius: 15px;

  overflow: hidden;
  pointer-events: initial;

  display: flex;
}

.div_2mkYWblFim {
  flex: 1;
  display: grid;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--app-color-letter) transparent;
}

.button_Ak0ukl04K8 {
  all: unset;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  height: 60px;
  padding: 10px;
  gap: 10px;

  border: none;
  outline: none;

  font-size: 15px;
  text-align: center;

  padding-right: 20px;

  & small {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & span {
    flex: 1;
    text-align: left;
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media (min-width: 750px) {
  .div_NAhL0gSj9J {
    width: min(100%, 500px);
    margin: auto;
  }
}

/* ----- APP -- PAGES.CSS ----- */

.div_Xu02Xjh {
  background: var(--app-color-background);
  color: var(--app-color-letter);

  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
}

.header_K0hs3I0 {
  position: relative;

  width: 100%;
  height: 60px;

  padding: 10px;
  gap: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div_guZ6yID {
  flex: 1;
  display: flex;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  scrollbar-width: thin;
  scrollbar-color: var(--app-color-letter) var(--app-color-background);
}

.div_b14S3dH {
  margin: auto;

  display: grid;
  justify-items: center;
  text-align: center;

  padding: 20px;
  gap: 20px;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      width: 100px;
      height: 100px;
    }
  }

  & button {
    all: unset;

    display: flex;
    align-items: center;
    gap: 17.5px;

    height: 35px;
    padding: 0 17.5px;
    border-radius: 35px;
    font-size: 13px;

    background: var(--app-color-letter);
    color: var(--app-color-item);
  }

  & small {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      fill: var(--app-color-item);
    }
  }
}

.div_rgkfo22 {
  width: 100%;
  height: 60px;
  padding: 12.5px;

  display: flex;
  align-items: center;

  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

/* ----- ASSETS -- NAVIGATE.CSS ----- */

.div_kpAeq7EQQSpIEGP {
  width: 60px;
  height: 100%;
  display: none;

  & button {
    background: none;
    border: none;
    outline: none;
  }
}

.div_AzB9StLbTItJbDG {
  margin: auto;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.div_oMejC4uoPU6Yno {
  background: var(--app-color-letter);
  width: 40px;

  margin: 10px;
  border-radius: 40px;

  display: grid;

  background: var(--app-color-item);
}

.button_HBGW4tQbCUaCeQi {
  position: relative;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  overflow: hidden;

  font-size: 15px;
  font-weight: bolder;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.button_9hVeDz4jIfQ5n2a {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    width: 15px;
    height: 15px;
    fill: var(--app-color-letter);
  }
}

.div_JJ29L3eoT4hcf1x {
  flex: 1;

  overflow: auto;
  scrollbar-width: none;
}

.div_ynsbf8jCYmc6NsK {
  width: 100%;
  padding: 10px;
  gap: 10px;

  display: grid;
}

.button_vz3gd83JzdjM7pt {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  &.active {
    background: var(--app-color-letter);
    & svg {
      fill: var(--app-color-item);
    }
  }

  & svg {
    width: 15px;
    height: 15px;
    fill: var(--app-color-letter);
  }

  & img {
    width: 15px;
    height: 15px;
  }
}

.hr_GN4g3jScFGLhbB8 {
  margin: auto;
  background: rgb(181 178 178 / 0.3);
  width: 40px;
  height: 1px;
  border: none;
  border-radius: 1px;
}

.div_Hc2LDqQ {
  position: absolute;
  inset: 0;

  background: var(--app-color-item-second);
  color: var(--app-color-letter-second);

  font-weight: bolder;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 750px) {
  .div_kpAeq7EQQSpIEGP {
    display: flex;
  }
}

/* ----- ASSETS -- NAVIGATEBOTTOM.CSS ----- */

.div_U1rCCk1 {
  width: 100%;
  height: 60px;
  display: flex;
  overflow: hidden;
}

.div_ZnL3gfK {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & a,
  button {
    background: none;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    overflow: hidden;

    &.active {
      background: var(--app-color-letter);
      border-radius: 15px;

      & svg {
        fill: var(--app-color-item);
      }
    }

    &.a_1OKAZpH {
      position: relative;

      background: var(--app-color-item-second);
      color: var(--app-color-letter-second);

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;

      font-size: 15px;
      font-weight: bolder;
    }
  }
}

.img_bAVjzSy {
  width: 20px;
  height: 20px;
}

.img_lyvLR4C {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 750px) {
  .div_U1rCCk1 {
    display: none;
  }
}

/* ----- PAGES -- INICIO.CSS ----- */

.div_3outgsh {
  margin: auto;
  margin-top: initial;

  display: grid;
  width: min(100%, 750px);

  padding: 10px;
  gap: 10px;
}

.div_nsmf6hz {
  background: var(--app-color-item);
  width: 100%;
  height: 60px;

  display: flex;
  border-radius: 15px;
}

.a_tx7pl15 {
  all: unset;

  flex: 1;

  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 13px;

  & div {
    display: grid;
  }

  & span {
    font-weight: bold;
  }
}

.button_cm15sfh {
  all: unset;

  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- PAGES -- LOGIN.CSS ----- */

.div_7wOjGZ8 {
  background: var(--app-color-background);
  position: fixed;
  inset: 0;

  display: flex;
  padding: 20px;
}

.div_SCqCUTo {
  margin: auto;
  display: grid;
  gap: 15px;

  width: min(100%, 400px);

  border-radius: 15px;

  color: var(--app-color-letter);
}

.div_Y85zRC0 {
  display: grid;
  gap: 5px;
}

.label_L3539wR {
  position: relative;
  background: var(--app-color-item);
  color: var(--app-color-letter);

  display: grid;

  height: 60px;
  border-radius: 15px;
  overflow: hidden;

  & span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 13px;
  }

  & input {
    position: relative;
    background: none;
    border: none;
    outline: none;

    color: inherit;
    padding: 0 20px;
    padding-top: 16px;
    font-size: 15px;
    font-weight: bold;
  }
}

.a_c305F1l {
  margin-right: auto;
  color: inherit;
  font-size: 15px;
  padding: 0 20px;
}

.button_WU25psx {
  background: var(--app-color-letter);
  color: var(--app-color-item);

  font-size: 15px;

  border: none;
  outline: none;

  height: 60px;
  padding: 0 20px;

  border-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 15px;
  font-weight: bold;

  & svg {
    fill: var(--app-color-item);
  }
}

.a_8hzaMUg {
  margin-left: auto;
  background: none;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;

  border-radius: 15px;

  font-size: 15px;
  color: inherit;
  text-decoration: none;
}

.div_TwxBw4R {
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  padding: 15px;
  gap: 15px;

  width: min(100%, 400px);

  /* background: var(--app-color-item); */
  color: var(--app-color-letter);

  /* aspect-ratio: 1 / 1; */
}

.div_70M5Jpt {
  flex: 1;
  color: var(--app-color-letter);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.label_0BFeKpk {
  background: var(--app-color-item);
  color: var(--app-color-letter);
}

/* ----- PAGES -- NOTES.CSS ----- */

.div_uuz7qkj {
  flex: 1;
  display: flex;

  overflow: hidden;
}

.form_xmz68jo {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  & input {
    all: unset;
    width: 100%;
    height: 40px;
    padding: 0 10px;

    font-weight: bold;
    font-size: 18px;
  }

  & textarea {
    all: unset;

    flex: 1;
    padding: 10px;
    font-size: 15px;
  }

  & button {
    position: absolute;
    bottom: 15px;
    right: 15px;

    width: 50px;
    height: 50px;

    border-radius: 15px;

    background: var(--app-color-letter);
  }

  & svg {
    fill: var(--app-color-item);
  }
}

.select_tstp0u9 {
  all: unset;

  background: var(--app-color-letter);
  color: var(--app-color-item);

  height: 25px;
  border-radius: 25px;

  display: flex;
  align-items: center;
  text-align: center;
}

/* ----- PAGES -- SETTING.CSS ----- */

.div_gVQO1KR {
  margin: auto;
  margin-top: initial;

  width: min(100%, 750px);

  display: grid;
  gap: 10px;

  justify-items: center;
}

.div_cq16fYP {
  margin: auto;
  display: grid;
  width: 100%;
  gap: 3px;

  border-radius: 15px;
  overflow: hidden;

  & a {
    all: unset;
    box-sizing: border-box;

    background: var(--app-color-item);
    display: flex;
    align-items: center;

    padding: 10px;
    padding-right: 20px;
    gap: 10px;

    cursor: pointer;
  }

  & span {
    font-size: 15px;
    flex: 1;
  }

  & small {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.div_zyykHbn {
  display: grid;
  text-align: center;
  width: 100%;
}

/* ----- PAGES -- THEME.CSS ----- */

.div_MN7ZWeX {
  background: var(--app-color-background);
  color: var(--app-color-letter);
}

.button_YWxwK2P {
  background: var(--app-color-item);
  & svg {
    fill: var(--app-color-letter);
  }
}

.div_cDfbXwR {
  margin: auto;
  margin-top: initial;
  width: min(100%, 750px);

  display: grid;
}

.div_0p76jdM {
  display: grid;
  border-bottom: 1.25px solid rgb(181 178 178 / 0.2);
}

.label_2F1ZTtw {
  width: 100%;
  height: 60px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:has(input:checked) + div {
    display: initial;
  }
}

.div_VDMeCmA {
  display: none;
  padding: 10px;
}

.div_QKKEgOu {
  background: var(--app-color-item);
  border-radius: 15px;
}